IMPORTING LIBRARIES

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings

READING DATASET

In [2]:
from google.colab import drive 
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
data=pd.read_csv('/content/drive/My Drive/water_dataX.csv',encoding='ISO-8859-1',low_memory=False)

ANALYSE THE DATA

In [4]:
data.shape

(1991, 12)

In [5]:
data.head

<bound method NDFrame.head of      STATION CODE                                          LOCATIONS  \
0            1393               DAMANGANGA AT D/S OF MADHUBAN, DAMAN
1            1399  ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...
2            1475                                ZUARI AT PANCHAWADI
3            3181                        RIVER ZUARI AT BORIM BRIDGE
4            3182                       RIVER ZUARI AT MARCAIM JETTY
...           ...                                                ...
1986         1330            TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU
1987         1450  PALAR AT VANIYAMBADI WATER SUPPLY HEAD WORK, T...
1988         1403                 GUMTI AT U/S SOUTH TRIPURA,TRIPURA
1989         1404                GUMTI AT D/S SOUTH TRIPURA, TRIPURA
1990         1726   CHANDRAPUR, AGARTALA D/S OF HAORA RIVER, TRIPURA

            STATE  Temp D.O. (mg/l)   PH CONDUCTIVITY (µmhos/cm)  \
0     DAMAN & DIU  30.6         6.7  7.5                     203
1             GOA  29.8         5.7  7.2                     189
2             GOA  29.5         6.3  6.9                     179
3             GOA  29.7         5.8  6.9                      64
4             GOA  29.5         5.8  7.3                      83
...           ...   ...         ...  ...                     ...
1986          NAN   NAN         7.9  738                     7.2
1987          NAN    29         7.5  585                     6.3
1988          NAN    28         7.6   98                     6.2
1989          NAN    28         7.7   91                     6.5
1990          NAN    29         7.6  110                     5.7

     B.O.D. (mg/l) NITRATENAN N+ NITRITENANN (mg/l)  \
0              NAN                              0.1
1                2                              0.2
2              1.7                              0.1
3              3.8                              0.5
4              1.9                              0.4
...            ...                              ...
1986           2.7                            0.518
1987           2.6                            0.155
1988           1.2                              NAN
1989           1.3                              NAN
1990           1.1                              NAN

     FECAL COLIFORM (MPN/100ml) TOTAL COLIFORM (MPN/100ml)Mean  year
0                            11                             27  2014
1                          4953                           8391  2014
2                          3243                           5330  2014
3                          5382                           8443  2014
4                          3428                           5500  2014
...                         ...                            ...   ...
1986                      0.518                            202  2003
1987                      0.155                            315  2003
1988                        NAN                            570  2003
1989                        NAN                            562  2003
1990                        NAN                            546  2003

[1991 rows x 12 columns]>

In [7]:
data.describe

<bound method NDFrame.describe of      STATION CODE                                          LOCATIONS  \
0            1393               DAMANGANGA AT D/S OF MADHUBAN, DAMAN
1            1399  ZUARI AT D/S OF PT. WHERE KUMBARJRIA CANAL JOI...
2            1475                                ZUARI AT PANCHAWADI
3            3181                        RIVER ZUARI AT BORIM BRIDGE
4            3182                       RIVER ZUARI AT MARCAIM JETTY
...           ...                                                ...
1986         1330            TAMBIRAPARANI AT ARUMUGANERI, TAMILNADU
1987         1450  PALAR AT VANIYAMBADI WATER SUPPLY HEAD WORK, T...
1988         1403                 GUMTI AT U/S SOUTH TRIPURA,TRIPURA
1989         1404                GUMTI AT D/S SOUTH TRIPURA, TRIPURA
1990         1726   CHANDRAPUR, AGARTALA D/S OF HAORA RIVER, TRIPURA

            STATE  Temp D.O. (mg/l)   PH CONDUCTIVITY (µmhos/cm)  \
0     DAMAN & DIU  30.6         6.7  7.5                     203
1             GOA  29.8         5.7  7.2                     189
2             GOA  29.5         6.3  6.9                     179
3             GOA  29.7         5.8  6.9                      64
4             GOA  29.5         5.8  7.3                      83
...           ...   ...         ...  ...                     ...
1986          NAN   NAN         7.9  738                     7.2
1987          NAN    29         7.5  585                     6.3
1988          NAN    28         7.6   98                     6.2
1989          NAN    28         7.7   91                     6.5
1990          NAN    29         7.6  110                     5.7

     B.O.D. (mg/l) NITRATENAN N+ NITRITENANN (mg/l)  \
0              NAN                              0.1
1                2                              0.2
2              1.7                              0.1
3              3.8                              0.5
4              1.9                              0.4
...            ...                              ...
1986           2.7                            0.518
1987           2.6                            0.155
1988           1.2                              NAN
1989           1.3                              NAN
1990           1.1                              NAN

     FECAL COLIFORM (MPN/100ml) TOTAL COLIFORM (MPN/100ml)Mean  year
0                            11                             27  2014
1                          4953                           8391  2014
2                          3243                           5330  2014
3                          5382                           8443  2014
4                          3428                           5500  2014
...                         ...                            ...   ...
1986                      0.518                            202  2003
1987                      0.155                            315  2003
1988                        NAN                            570  2003
1989                        NAN                            562  2003
1990                        NAN                            546  2003

[1991 rows x 12 columns]>

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1991 entries, 0 to 1990
Data columns (total 12 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   STATION CODE                      1991 non-null   object
 1   LOCATIONS                         1991 non-null   object
 2   STATE                             1991 non-null   object
 3   Temp                              1991 non-null   object
 4   D.O. (mg/l)                       1991 non-null   object
 5   PH                                1991 non-null   object
 6   CONDUCTIVITY (µmhos/cm)           1991 non-null   object
 7   B.O.D. (mg/l)                     1991 non-null   object
 8   NITRATENAN N+ NITRITENANN (mg/l)  1991 non-null   object
 9   FECAL COLIFORM (MPN/100ml)        1991 non-null   object
 10  TOTAL COLIFORM (MPN/100ml)Mean    1991 non-null   object
 11  year                              1991 non-null   int64
dtypes: int64(1), object(11)
memory usage: 186.8+ KB

HANDLING MISSING VALUES

In [8]:
data.isnull().any()

STATION CODE                        False
LOCATIONS                           False
STATE                               False
Temp                                False
D.O. (mg/l)                         False
PH                                  False
CONDUCTIVITY (µmhos/cm)             False
B.O.D. (mg/l)                       False
NITRATENAN N+ NITRITENANN (mg/l)    False
FECAL COLIFORM (MPN/100ml)          False
TOTAL COLIFORM (MPN/100ml)Mean      False
year                                False
dtype: bool

In [9]:
data.isnull().sum()

STATION CODE                        0
LOCATIONS                           0
STATE                               0
Temp                                0
D.O. (mg/l)                         0
PH                                  0
CONDUCTIVITY (µmhos/cm)             0
B.O.D. (mg/l)                       0
NITRATENAN N+ NITRITENANN (mg/l)    0
FECAL COLIFORM (MPN/100ml)          0
TOTAL COLIFORM (MPN/100ml)Mean      0
year                                0
dtype: int64

In [10]:
data.dtypes

STATION CODE                        object
LOCATIONS                           object
STATE                               object
Temp                                object
D.O. (mg/l)                         object
PH                                  object
CONDUCTIVITY (µmhos/cm)             object
B.O.D. (mg/l)                       object
NITRATENAN N+ NITRITENANN (mg/l)    object
FECAL COLIFORM (MPN/100ml)          object
TOTAL COLIFORM (MPN/100ml)Mean      object
year                                 int64
dtype: object

In [11]:
data['Temp']=pd.to_numeric(data['Temp'],errors='coerce')
data.dtypes

STATION CODE                         object
LOCATIONS                            object
STATE                                object
Temp                                float64
D.O. (mg/l)                          object
PH                                   object
CONDUCTIVITY (µmhos/cm)              object
B.O.D. (mg/l)                        object
NITRATENAN N+ NITRITENANN (mg/l)     object
FECAL COLIFORM (MPN/100ml)           object
TOTAL COLIFORM (MPN/100ml)Mean       object
year                                  int64
dtype: object

In [12]:
data['D.O. (mg/l)']=pd.to_numeric(data['D.O. (mg/l)'],errors='coerce')
data['PH']=pd.to_numeric(data['PH'],errors='coerce')
data['B.O.D. (mg/l)']=pd.to_numeric(data['B.O.D. (mg/l)'],errors='coerce')
data['CONDUCTIVITY (µmhos/cm)']=pd.to_numeric(data['CONDUCTIVITY (µmhos/cm)'],errors='coerce')
data.dtypes

STATION CODE                         object
LOCATIONS                            object
STATE                                object
Temp                                float64
D.O. (mg/l)                         float64
PH                                  float64
CONDUCTIVITY (µmhos/cm)             float64
B.O.D. (mg/l)                       float64
NITRATENAN N+ NITRITENANN (mg/l)     object
FECAL COLIFORM (MPN/100ml)           object
TOTAL COLIFORM (MPN/100ml)Mean       object
year                                  int64
dtype: object

In [13]:
data['NITRATENAN N+ NITRITENANN (mg/l)']=pd.to_numeric(data['NITRATENAN N+ NITRITENANN (mg/l)'],errors='coerce')
data['TOTAL COLIFORM (MPN/100ml)Mean']=pd.to_numeric(data['TOTAL COLIFORM (MPN/100ml)Mean'],errors='coerce')
data.dtypes

STATION CODE                         object
LOCATIONS                            object
STATE                                object
Temp                                float64
D.O. (mg/l)                         float64
PH                                  float64
CONDUCTIVITY (µmhos/cm)             float64
B.O.D. (mg/l)                       float64
NITRATENAN N+ NITRITENANN (mg/l)    float64
FECAL COLIFORM (MPN/100ml)           object
TOTAL COLIFORM (MPN/100ml)Mean      float64
year                                  int64
dtype: object

In [14]:
data.isnull().sum()

STATION CODE                          0
LOCATIONS                             0
STATE                                 0
Temp                                 92
D.O. (mg/l)                          31
PH                                    8
CONDUCTIVITY (µmhos/cm)              25
B.O.D. (mg/l)                        43
NITRATENAN N+ NITRITENANN (mg/l)    225
FECAL COLIFORM (MPN/100ml)            0
TOTAL COLIFORM (MPN/100ml)Mean      132
year                                  0
dtype: int64

In [15]:
data['Temp'].fillna(data['Temp'].mean(),inplace=True)
data['D.O. (mg/l)'].fillna(data['D.O. (mg/l)'].mean(),inplace=True)
data['PH'].fillna(data['PH'].mean(),inplace=True)
data['CONDUCTIVITY (µmhos/cm)'].fillna(data['CONDUCTIVITY (µmhos/cm)'].mean(),inplace=True)
data['B.O.D. (mg/l)'].fillna(data['B.O.D. (mg/l)'].mean(),inplace=True)
data['NITRATENAN N+ NITRITENANN (mg/l)'].fillna(data['NITRATENAN N+ NITRITENANN (mg/l)'].mean(),inplace=True)
data['TOTAL COLIFORM (MPN/100ml)Mean'].fillna(data['TOTAL COLIFORM (MPN/100ml)Mean'].mean(),inplace=True)

In [16]:
data.drop(['FECAL COLIFORM (MPN/100ml)'],axis=1,inplace=True)

In [17]:
data=data.rename(columns={'D.O. (mg/l)':'do'})
data=data.rename(columns={'CONDUCTIVITY (µmhos/cm)':'co'})
data=data.rename(columns={'B.O.D. (mg/l)':'bod'})
data=data.rename(columns={'NITRATENAN N+ NITRITENANN (mg/l)':'na'})
data=data.rename(columns={'TOTAL COLIFORM (MPN/100ml)Mean':'tc'})
data=data.rename(columns={'STATION CODE':'station'})
data=data.rename(columns={'LOCATIONS':'location'})
data=data.rename(columns={'STATE':'state'})
data=data.rename(columns={'PH':'ph'})